@import "./base.css";
html,
body {
  background: black;
  padding: 20px;
}
#app {
  max-width: min(768px, 100vw);
  max-height: calc(100vh - 4rem);
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
  background-image: url("/images/splash2.png");
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.5) inset;
  border-radius: 10px;
}
